@import '../scss/foundation/variables.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  
  :root {

    --brand-primary: #{$brand-primary};
    --brand-primary-1: #{$brand-primary-1};
    --brand-secondary-1: #{$brand-secondary-1};
    --brand-secondary-2: #{$brand-secondary-2};
    --brand-secondary-3: #{$brand-secondary-3};
    --brand-secondary-4: #{$brand-secondary-4};
    --brand-secondary-5: #{$brand-secondary-5};

    --neutral-black: #{$neutral-black};
    --neutral-white: #{$neutral-white};     
    --neutral-gray-1: #{$neutral-gray-1};
    --neutral-gray-2: #{$neutral-gray-2};
    --neutral-gray-3: #{$neutral-gray-3};
    --neutral-gray-4: #{$neutral-gray-4};
    --neutral-gray-5: #{$neutral-gray-5};
    --neutral-gray-6: #{$neutral-gray-6};
    --neutral-gray-7: #{$neutral-gray-7};

    --state-info: #{$state-info};
    --state-success: #{$state-success};
    --state-warning: #{$state-warning};
    --state-error: #{$state-error};

    --default-font-size: 0.5rem;
    --default-font-scale: 1.2;
    --base-font-size: calc(var(--default-font-size) * var(--default-font-scale));

    --font-size-8: calc(var(--base-font-size) * var(--default-font-scale));
    --font-size-10: calc(var(--font-size-8) * var(--default-font-scale));
    --font-size-12: calc(var(--font-size-10) * var(--default-font-scale));
    --font-size-14: calc(var(--font-size-12) * var(--default-font-scale));
    --font-size-16: calc(var(--font-size-14) * var(--default-font-scale));

    --h5-font-size: calc(var(--font-size-16) * var(--default-font-scale));
    --h4-font-size: calc(var(--h5-font-size) * var(--default-font-scale));
    --h3-font-size: calc(var(--h4-font-size) * var(--default-font-scale));
    --h2-font-size: calc(var(--h3-font-size) * var(--default-font-scale));
    --h1-font-size: calc(var(--h2-font-size) * var(--default-font-scale));

    --btn-font-size: var(--font-size-16);
    --btn-text-color: var(--neutral-white);
    --btn-bg-color: var(--brand-primary-1);
    --btn-padding-x: calc(var(--btn-font-size) * 1.5);
    --btn-padding-y: calc(var(--btn-font-size) * 1);
    --btn-margin-x: calc(var(--btn-font-size) * 1);
    
  }

  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }

  p,h1,h2,h3,h4,h5,h6 {
    max-width: 60ch;
  }

  img {
    display: block;
    max-block-size: 100%;
  }

  p,span,i {
    font-size: var(--base-font-size);
  }

  h1 {
    font-size: var(--h1-font-size);
  }
  h2 {
    font-size: var(--h2-font-size);
  }
  h3 {
    font-size: var(--h3-font-size);
  }
  h4 {
    font-size: var(--h4-font-size);
  }
  h5 {
    font-size: var(--h5-font-size);
  }
}

@layer components {

  .btn {
    color: var(--btn-text-color);
    background-color: var(--btn-bg-color);
    font-size: var(--btn-font-size);

    padding: var(--btn-padding-y) var(--btn-padding-x);
    width: inherit;

    &-neutral {
      color: var(--neutral-white);
      background-color: var(--neutral-black);
      &:hover{
        opacity: 0.8;
      }
    }
  }
}
